<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--
    hahahah1234fgfgfgfg
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

  <meta name="theme-color" content="#007aff">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

  <!-- <script>
  // Your web app's Firebase configuration


function login(){

}



</script> -->



  <title>JJIM</title>




  <!-- built styles file will be auto injected -->
</head>

<body>
  <div id="app">

    <!-- 왼쪽 패널 메뉴 부분 -->
    <div class="panel panel-left panel-cover theme-dark panel-init" data-visible-breakpoint="960">
      <div class="view view-init" data-view="left">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
              <div class="title">정보</div>
            </div>
          </div>
          <div class="page-content">
            <div class="block block-strong">
              <div class="row">
                <div class="col-50">
                  <!-- <a href="#" class="button button-raised button-fill panel-close login-screen-open" data-login-screen=".login-screen">로그인</a> -->
                  <a href="/login/" data-view=".view-main" class="button button-raised button-fill panel-close">로그인</a>
                </div>
                <div class="col-50">
                  <a href="/join/" data-view=".view-main" class="button button-raised button-fill panel-close">회원가입</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main view-init safe-areas" data-url="/"></div>

    <!-- 아이디/비번 찾기 화면 -->
    <div class="find-screen" id="my-find-screen">
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            <a href="#" class="link back">
              <i class="icon icon-back"></i>
              <span class="if-not-md">Back</span>
            </a>
          </div>
          <div class="title">JJIM</div>
          <div class="subnavbar">
            <div class="subnavbar-inner">
              <div class="segmented segmented-raised">
                <a class="button tab-link tab-link-active" href="#tab1">아이디</a>
                <a class="button tab-link" href="#tab2">비밀번호</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content hide-navbar-on-scroll">
        <div class="tabs">
          <!--탭1-->
          <div class="tab tab-active" id="tab1">
            <div class="block">
              <br><br>
              <!--아비 찾기 텍스트는 탭 안으로 넣기-->
              <div class="login-screen-title">아이디 찾기</div>

              <!--정보 입력-->
              <div class="list no-hairlines-md">
                <ul>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">이름</div>
                        <div class="item-input-wrap">
                          <input type="text" placeholder="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">이메일</div>
                        <div class="item-input-wrap">
                          <input type="email" placeholder="" />
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--버튼-->
              <div class="block">
                <p class="row">
                  <a href="#" class="col button" @click="idAlert">확인</a>
                </p>
              </div>
            </div>
          </div>

          <!--탭2-->
          <div class="tab" id="tab2">
            <div class="block">
              <br><br>
              <!--아비 찾기 텍스트는 탭 안으로 넣기-->
              <div class="login-screen-title">비밀번호 찾기</div>

              <!--정보 입력-->
              <div class="list no-hairlines-md">
                <ul>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">이름</div>
                        <div class="item-input-wrap">
                          <input type="text" placeholder="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">아이디</div>
                        <div class="item-input-wrap">
                          <input type="text" placeholder="" />
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--버튼-->
              <div class="block">
                <p class="row">
                  <a href="#" class="col button" @click="pwAlert">확인</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyA-CggIbVwqZRC4nqbDD3aYjOlGLEiOaWU",
        authDomain: "jjim-e0f16.firebaseapp.com",
        databaseURL: "https://jjim-e0f16.firebaseio.com",
        projectId: "jjim-e0f16",
        storageBucket: "jjim-e0f16.appspot.com",
        messagingSenderId: "400499294292",
        appId: "1:400499294292:web:16bac47867212f69faedc1"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

  </div>
  <% if (process.env.TARGET === 'cordova') { %>
  <script src="cordova.js"></script>
  <% } %>
  <!-- built script files will be auto injected -->
</body>

</html>