<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--
    ㄴㅏ는야 ㄷ ㅏ 히 ^^*
    hahahah1234fgfgfgfg
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

  <meta name="theme-color" content="#007aff">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>JJIM</title>
  
  
  
  
  <!-- built styles file will be auto injected -->
</head>
<body>
  <div id="app">
    
    <!-- Left panel with cover effect -->
    <div class="panel panel-left panel-cover theme-dark panel-init" data-visible-breakpoint="960">
      <div class="view view-init" data-view="left">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
              <div class="title">Left Panel</div>
            </div>
          </div>
          <div class="page-content">
                <div class="block block-strong">
                  <div class="row">
                    <div class="col-50">
                      <a href="#" class="button button-raised button-fill login-screen-open" data-login-screen=".login-screen">로그인</a>
                    </div>
                    <div class="col-50">
                      <a href="/join-screen/" data-view=".view-main" class="button button-raised button-fill">회원가입</a>
                    </div>
                  </div>
                </div>                
            <div class="block-title">Left View Navigation</div>
            <div class="list links-list">
              <ul>
                <li><a href="/left-page-1/">Left Page 1</a></li>
                <li><a href="/left-page-2/">Left Page 2</a></li>
              </ul>
            </div>
            <div class="block-title">Control Main View</div>
            <div class="list links-list">
              <ul>
                <li>
                  <a href="/about/" data-view=".view-main" class="panel-close">About</a>
                </li>
                <li>
                  <a href="form.f7.html" class="item-content item-link">
                      form
                    </a>
                </li>
                <li>
                  <a href="#" data-view=".view-main" class="back panel-close">Back in history</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main view-init safe-areas" data-url="/"></div>

    <!-- Login Screen -->
    <div class="login-screen" id="my-login-screen">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link login-screen-close">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Back</span>
                </a>
              </div>
            </div>
          </div>
          <div class="page-content login-screen-content">
            <div class="login-screen-title">찜</div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">사용자 아이디</div>
                    <div class="item-input-wrap">
                      <input type="text" name="username" placeholder="아이디를 입력하세요.">
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">비밀번호</div>
                    <div class="item-input-wrap">
                      <input type="password" name="password" placeholder="비밀번호를 입력하세요.">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list">
              <ul>
                <li>
                  <a href="#" class="item-link list-button login-button">로그인</a>
                </li>
                <li>
                  <!--class 로그인 버튼 부분 바꾸기-->
                  <a href="#" class="item-link list-button">아이디 / 비밀번호 찾기</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <% if (process.env.TARGET === 'cordova') { %>
  <script src="cordova.js"></script>
  <% } %>
  <!-- built script files will be auto injected -->
</body>
</html>